<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wiki - {{page}}</title>
    <link rel="stylesheet" href="/static/github-markdown.css" />
</head>
<body>
    <div style="display: flex">
        <div>
            <ul>
                {{#each pages}}
                <li>
                    <a href="{{this.link}}">{{this.name}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
        <div style="margin-left: 10px; flex: 1; min-width: 0">
            {{{content}}}
        </div>
    </div>
</body>
</html>
